{# src/AppBundle/Resources/views/Page/contact.html.twig #}
{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Contact{% endblock%}

{% block body %}
    <header>
        <h1>Contact symblog</h1>
    </header>

    {% if app.session.flashbag.has('success') %}
        <div class="row-fluid">
        <div class="span12 alert alert-success">
        {% for flashMessage in app.session.flashbag.get('success') %}
            {{ flashMessage }}
        {% endfor %}
        </div>
        </div>
    {% endif %}

    <p>Want to contact symblog?</p>

    <form action="{{ path('AppBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}